body, html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-family: 'ProximaNova', sans-serif;
    font-size: $font-size;
    background-image: linear-gradient(235deg, $gradient-color-one, $gradient-color-two);
    color: $text-color;
}
