body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'ProximaNova', sans-serif;
    font-size: 16px;
    color: $text-color;
    padding: 30px;
}

svg {
    margin-top: 15px; ////will be deleted with framework.pug
    fill: $img--default;
    &:hover #littleCalendar {
        fill: $img--hover;
    }
    &:active #littleCalendar {
        fill: $img--active;
    }
}