body {
    min-width: 1015px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: width;
    font-family: 'ProximaNova', sans-serif;
    font-size: 16px;
    color: $text-color;
    padding: 30px;
}