.reminder {
    width: 125px;
    height: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: $reminder-color;
    border-radius: 3px;
    font-size: $font-size-small;
    &:hover {
        cursor: pointer;
    }
    &:active {
        background-color: $reminder-color-active;
    }
    &__text {
        width: 85px;
        padding: 5px 0px 5px 5px;
    }
    &__time {
        padding: 5px 0px;
    }
}
