// colors
$text-color: #000000;
$input-color-active: #7b8aa8;
$brown: #333333;
$img-color-active: #636363;
$brown-grey-two: #575757;
$btn-terminate-color: #5a6596;
$brownish-pink: #cb7f7f;
$charcoal-grey: #2a2b30;
$dark-lavender: #7c73a2;
$dark-lavender-two: #73709f;
$img-color-hover: #798cd4;
$dusky-blue: #415b8d;
$btn-color-hover: #7a7db2;
$field-color-active: #7989b4;
$light-grey-blue: #9fb3d1;
$input-color: #a3b1cd;
$gradient-color-two: #194b7f;
$light-navy-blue: #335588;
$light-navy-blue-two: #2c5286;
$gradient-color-one: #b88cb7;
$field-color: #dadfe6;
$input-color-hover: #749ae3;
$input-color-error: #cda3a3;
$pinkish-grey-two: #d0d0d0;
$btn-color: #696c9b;
$btn-color-active: #787a9e;
$twilight: #566495;
$img-color: #566394;
$block-color: #ffffff;
$btn-text-color: #ffffff;
$checkbox-color: #ececec;
$session-color: #ececec;
$warm-grey: #979797;
$white-two: #d4d4d4;

//font-family
$font-family: "ProximaNova", sans-serif;

//font-size
$font-size: 1.2em;
$font-size-h1: 1.5em;
$font-size-small: 0.7em;

//line-height
$line-height: 1em;
