// colors
$black: #000000;
$input-color-active: #7b8aa8;
$brown: #333333;
$img-color-active: #636363;
$date-color: #575757;
$date-color-expired: #962f2f;
$btn-color-terminate: #5a6596;
$text-color: #2a2b30;
$img-color-hover: #798cd4;
$btn-color-hover: #7a7db2;
$reminder-color-active: #7989b4;
$input-color: #a3b1cd;
$gradient-color-two: #194b7f;
$gradient-color-one: #b88cb7;
$reminder-color: #dadfe6;
$input-color-hover: #749ae3;
$input-color-error: #cda3a3;
$btn-color: #696c9b;
$btn-color-active: #787a9e;
$img-color: #566394;
$btn-color-remove: #566394;
$block-color: #ffffff;
$btn-text-color: #ffffff;
$field-color: #ececec;
$checkbox-color: #3c598c;

//font-family
$font-family: "ProximaNova", sans-serif;

//font-size
$font-size: 16px;
$font-size-h1: 21px;
$font-size-small: 11px;

//line-height
$line-height: 1em;
