doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title="Framework"
    link(rel="stylesheet", href="style.scss")
  body.gradient
    div.block.p-1
      div
        input.input(type="text" name="name" placeholder="Введите логин")
      div.mt-1
        input.input.input--error(type="text" name="name" placeholder="Ошибка")
      div.mt-1
        button.button(type="submit" name="add" value="ok") Добавить
      div.reminder.mt-1
        span.reminder__text Открыть проект Planer
        span.reminder__time 18:00
      button.svg.mt-1(type="button" name="open" value="calendar")
        include images/small-calendar.svg
      div.session.mt-1
        span.session__text PC, Mac OSX, Safari 4.23
        button.delete-button.delete-button--terminate(type="button" name="terminate" value="session")
          include images/terminate.svg
          span.delete-button__text Terminate
            