doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title="Framework"
    link(rel="stylesheet", href="style.scss")
  body
    div
      div
        input.input(type="text" name="name" placeholder="Введите логин")
      div.margin-top
        input.input.input_error(type="text" name="name" placeholder="Ошибка")
      div.margin-top
        button.button(type="submit" name="add" value="ok") Добавить
      div.task-field.margin-top
        span.task-field__text Открыть проект Planer
        span.task-field__time 18:00
      button.svg.margin-top(type="button" name="open" value="calendar")
        include images/small-calendar.svg